name: runners-reusable-parent

on:
  workflow_dispatch:

permissions: {}

env:
  GH_TOKEN: "${{ github.TOKEN }}"

jobs:
  osx:
    permissions:
      id-token: write
      attestations: write
      contents: read
    strategy:
      matrix:
        runs_on: [ubuntu-latest, macos-latest, macos-15, windows-latest, windows-2025]
    uses: ./.github/workflows/runners-reusable-child.yml
    with:
      runs_on: ${{ matrix.runs_on }}
