name: "05"

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-01:
    runs-on: ubuntu-24.04-arm
    env:
      container_name: "qbt-test-container"
    steps:
      - uses: userdocs/actions/qbt_docker@main
        id: qbt_docker
        with:
            # use_host_env: "true" # pass GITHUB_*, USERNAME, HOME, etc to container
            dockerfile: "https://gist.githubusercontent.com/userdocs/0b101572b78ebc2f80fc0c2061b932a1/raw/3386414d552855862e5336610903c3c8be355d93/Dockerfile" # use default Dockerfile from action
            additional_debian_apps: "curl git" # apt install this string

      - name: run image
        run: |
          docker exec $container_name env

  test-02:
    runs-on: ubuntu-24.04-arm
    env:
      container_name: "qbt-test-container"
    steps:
      - uses: userdocs/actions/qbt_docker@main
        id: qbt_docker
        with:
            use_host_env: "true" # pass GITHUB_*, USERNAME, HOME, etc to container
            dockerfile: "https://gist.githubusercontent.com/userdocs/0b101572b78ebc2f80fc0c2061b932a1/raw/3386414d552855862e5336610903c3c8be355d93/Dockerfile" # use default Dockerfile from action
            additional_debian_apps: "curl git" # apt install this string

      - name: run image
        run: |
          docker exec $container_name env
