name: "07"

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Host - Bootstrap qemu
        uses: userdocs/actions/qemu@main
        with:
          target_arch: ${{ matrix.qbt_cross_name }} # takes the matrix array that is listing target architectures

      - uses: userdocs/actions/qbt_docker@main
        with:
            os_id: "alpine"
            os_version_id: "edge"
            custom_docker_commands: "-e GNU_MIRROR_URL=https://ftp.gnu.org/gnu"
            additional_alpine_apps: >
              autoconf automake bash bison build-base curl
              findutils flex git libarchive-tools libtool
              linux-headers patch perl pkgconf rsync
              tar texinfo xz zip zlib-dev zlib-static
