name: "0"

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os_id: ["ubuntu", "alpine", "debian"]
        include:
          - os_id: "ubuntu"
            container_name: "ubuntu-test-container"
            os_version_id: latest
          - os_id: "alpine"
            container_name: "alpine-test-container"
            os_version_id: "edge"
          - os_id: "debian"
            container_name: "debian-test-container"
            os_version_id: "bookworm"
    env:
      container_name: "qbt-test-container"
    steps:
      - run: touch test.txt

      - run: echo "qbt_cross_name=aarch64" > env.custom

      - uses: userdocs/actions/qbt_docker@main
        with:
            # if the env.custom file exists, it will be used to pass environment
            distinct_id: ""
            use_host_env: "false"
            container_name: "${{ env.container_name }}"
            os_id: ${{ matrix.os_id }}
            os_version_id: ${{ matrix.os_version_id }}
            custom_commands: "-e test1=1 -e test2=2 -e test3=3"
            additional_alpine_apps: "curl git wget"
            additional_debian_apps: "curl git wget"

      - run: docker exec ${container_name} ls >> $GITHUB_STEP_SUMMARY
      - run: docker exec ${container_name} env >> $GITHUB_STEP_SUMMARY
      - run: docker exec ${container_name} cat /etc/os-release >> $GITHUB_STEP_SUMMARY
      - run: docker exec ${container_name} sh -c 'echo "test1:$test1"' >> $GITHUB_STEP_SUMMARY
      - run: docker exec ${container_name} sh -c 'echo "test2:$test2"' >> $GITHUB_STEP_SUMMARY
      - run: docker exec ${container_name} sh -c 'echo "test3:$test3"' >> $GITHUB_STEP_SUMMARY
