name: "0"

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os_id: ["ubuntu", "alpine", "debian"]
        include:
          - os_id: "ubuntu"
            container_name: "ubuntu-test-container"
            os_version_id: latest
          - os_id: "alpine"
            container_name: "alpine-test-container"
            os_version_id: "edge"
          - os_id: "debian"
            container_name: "debian-test-container"
            os_version_id: "bookworm"
    env:
      container_name: "qbt-test-container"
    steps:
      - run: touch test.txt

      # - run: touch env.custom

      - uses: userdocs/actions/qbt_docker@main
        with:
            distinct_id: ""
            use_host_env: "false"
            container_name: "${{ env.container_name }}"
            os_id: ${{ matrix.os_id }}
            os_version_id: ${{ matrix.os_version_id }}
            custom_commands: '-e "test=1" -e "test2=2" -e "test3=3"'

      - run: docker exec ${container_name} ls
      - run: docker exec ${container_name} env
