name: "05"

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04-arm
    env:
      container_name: "qbt-test-container"
    steps:
      - uses: userdocs/actions/qbt_docker@main
        id: qbt_docker
        with:
            container_name: ${{ matrix.container_name }}
            dockerfile: "https://gist.githubusercontent.com/userdocs/0b101572b78ebc2f80fc0c2061b932a1/raw/3386414d552855862e5336610903c3c8be355d93/Dockerfile" # use default Dockerfile from action
            os_id: ${{ matrix.os_id }} # this action works with ghcr.io/userdocs/* images and generic images like debian/ubuntu/alpine
            os_version_id: ${{ matrix.os_version_id }}
            # additional_alpine_apps: "curl git" # apk add this string
            additional_debian_apps: "curl git" # apt install this string

      - name: Set qbt_docker outputs to environment
        run: |
          printf '%s\n' "container_name=${{ steps.qbt_docker.outputs.container_name }}" >> $GITHUB_ENV
          printf '%s\n' "uid=${{ steps.qbt_docker.outputs.uid }}" >> $GITHUB_ENV
          printf '%s\n' "wd=${{ steps.qbt_docker.outputs.wd }}" >> $GITHUB_ENV

      - name: Set qbt_docker outputs to environment
        run: |
          env
