name: "08"

on:
  workflow_dispatch:

concurrency:
  group: mcm-ninja-build
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04-arm # needs to be ubuntu-24.04 for qemu-user-static loongarch64 support
    name: ${{ matrix.arch_type }}
    permissions:
      contents: write
      id-token: write
      attestations: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch_type: "aarch64-linux-musl"
            binary_name: aarch64
          - arch_type: "arm-linux-musleabi"
            binary_name: armv5
          - arch_type: "arm-linux-musleabihf"
            binary_name: armhf
          - arch_type: "armv6-linux-musleabihf"
            binary_name: armv6
          - arch_type: "armv7l-linux-musleabihf"
            binary_name: armv7

    steps:
      - name: Host - checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Host - Bootstrap qemu
        uses: userdocs/actions/qemu@testing
        with:
          target_arch: ${{ matrix.arch_type }}

      - name: Host - Bootstrap docker container
        uses: userdocs/actions/qbt_docker@testing
        with:
            os_id: ghcr.io/userdocs/qbt-musl-cross-make
            os_version_id: ${{ matrix.arch_type }}
            custom_docker_commands: "-e \"LDFLAGS=-static --static -L${wd}/local/lib -Wl,-O1,--as-needed,--sort-common,-z,nodlopen,-z,noexecstack,-z,now,-z,relro,-z,--no-copy-dt-needed-entries,--build-id\" -e \"CPPFLAGS=-I${wd}/local/include -I/usr/include/fortify -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3\""
            custom_docker_commands_1: >
              "-e \"LDFLAGS=-static --static -L${wd}/local/lib -Wl,-O1,--as-needed,--sort-common,-z,nodlopen,-z,noexecstack,-z,now,-z,relro,-z,--no-copy-dt-needed-entries,--build-id\""
              "-e \"CPPFLAGS=-I${wd}/local/include -I/usr/include/fortify -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3\""
            custom_docker_commands_2: |
              -e "LDFLAGS=-static --static -L${wd}/local/lib -Wl,-O1,--as-needed,--sort-common,-z,nodlopen,-z,noexecstack,-z,now,-z,relro,-z,--no-copy-dt-needed-entries,--build-id"
              -e "CPPFLAGS=-I${wd}/local/include -I/usr/include/fortify -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3"

      - name: DOCKER ENV TEST
        run: >
          docker exec "${container_name}" env

      - name: Host - Git clone ninja
        run: git clone --no-tags --single-branch --branch master --depth=1 "https://github.com/ninja-build/ninja.git" "ninja"

      - name: Create tag env
        working-directory: ninja
        run: printf '%s\n' "ninja_github_tag=$(cat src/version.cc | sed -rn 's|const char\* kNinjaVersion = "(.*)";|\1|p' | sed 's/\.git//g')" >> $GITHUB_ENV

      - name: Configure ninja
        run: >
          docker exec -w "${wd}/ninja" "${container_name}" cmake -B build
          -D CMAKE_BUILD_TYPE="Release"
          -D CMAKE_CXX_STANDARD="20"
          -D BUILD_TESTING=off
          -D BUILD_GMOCK=off
          -D INSTALL_GTEST=off

      - name: Cmake Build ninja
        run: docker exec -w "${wd}/ninja" "${container_name}" cmake --build build --parallel --config Release

      - name: Host - Rename ninja to ninja-${{ matrix.binary_name }}
        run: mv -f ${{ github.workspace }}/ninja/build/ninja ninja-${{ matrix.binary_name }}

      - name: Host - ninja-${{ matrix.binary_name }} --version
        run: ./ninja-${{ matrix.binary_name }} --version >> $GITHUB_STEP_SUMMARY

      - name: Host - crossbuild binary info via file
        run: file ./ninja-${{ matrix.binary_name }} >> $GITHUB_STEP_SUMMARY
