name: "06"

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        runs_on: ["ubuntu-24.04", "ubuntu-24.04-arm"]
        os_id: ["debian", "ubuntu"]
        os_version_id: ["trixie", "noble"]
        qbt_cross_name: ["default", "aarch64", "x86_64", "riscv64"]
        qbt_libtorrent_version: ["1.2", "2.0"]
        qbt_build_tool: [""]
        qbt_qt_version: ["6"]
        exclude:
          - os_id: "debian"
            os_version_id: "noble"
          - os_id: "ubuntu"
            os_version_id: "trixie"

          - runs_on: "ubuntu-24.04"
            qbt_cross_name: "x86_64"
          - runs_on: "ubuntu-24.04-arm"
            qbt_cross_name: "aarch64"

        include:
          - runs_on: "ubuntu-24.04"
            host_name: "x86_64"
          - runs_on: "ubuntu-24.04-arm"
            host_name: "aarch64"
          - qbt_build_tool: ""
            qbt_qt_version_name: ""

    name: ci host - ${{ matrix.runs_on }} - ${{ matrix.qbt_cross_name }} - ${{ matrix.qbt_libtorrent_version }} - ${{ matrix.qbt_build_tool }} - ${{ matrix.qbt_qt_version }}

    steps:
      - name: determine host and target combination.
        shell: bash
        env:
          runner_arch: ${{ runner.arch }}
          guess_the_arch: ${{ matrix.qbt_cross_name }}
        run: |
          unset qemu_needed

          case "${runner_arch}" in
            X86 | X64)
              if [[ ${guess_the_arch} =~ ^(default|amd64|x86*|i386|i586|i686)$ ]]; then
                printf '%s\n' "qemu_needed=no" >> $GITHUB_ENV
              fi
              ;;
            ARM | ARM64)
              if [[ ${guess_the_arch} =~ ^(default|aarch64|arm*)$ ]]; then
                printf '%s\n' "qemu_needed=no" >> $GITHUB_ENV
              fi
              ;;
          esac

      - name: Host - Bootstrap qemu
        if: env.qemu_needed != 'no'
        uses: userdocs/actions/qemu@main

      - uses: userdocs/actions/qbt_docker@main
        id: qbt_docker
        with:
            os_id: ${{ matrix.os_id }} # this action works with ghcr.io/userdocs/* images and generic images like debian/ubuntu/alpine
            os_version_id: ${{ matrix.os_version_id }}
            additional_alpine_apps: "curl git" # apk add this string
