name: "04 docker"

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  test:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: ["ubuntu-24.04", "ubuntu-24.04-arm"]
        arch: ["amd64", "arm32v6", "arm32v7", "arm64v8", "i386", "riscv64"]
        container_image: [
          "ubuntu:latest",
          "debian:latest",
          "alpine:latest"
        ]
        include:
          - arch: amd64
            platform: linux/amd64
          - arch: arm32v6
            platform: linux/arm/v6
          - arch: arm32v7
            platform: linux/arm/v7
          - arch: arm64v8
            platform: linux/arm64
          - arch: i386
            platform: linux/i386
          - arch: riscv64
            platform: linux/riscv64
        exclude:
          - arch: i386
            container_image: ubuntu:latest
          - arch: arm32v6
            container_image: ubuntu:latest
          - arch: riscv64
            container_image: debian:latest
          - arch: arm32v6
            container_image: debian:latest

    env:
        container_name: "build"
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Create docker ${{ env.container_name }} ${{ matrix.container_image }} ${{ matrix.platform }} container
        run: >
          docker run --name ${container_name} -it -d
          -w /root
          -v ${{ github.workspace }}:/root
          --platform ${{ matrix.platform }}
          ${{ matrix.arch }}/${{ matrix.container_image }}

      - name: Run alpine
        if: matrix.container_image == 'alpine:latest'
        run: |
          printf '\n%b\n' "\`\`\`bash" >> $GITHUB_STEP_SUMMARY
          docker exec ${container_name} apk update | tee -a $GITHUB_STEP_SUMMARY
          docker exec ${container_name} apk add github-cli | tee -a $GITHUB_STEP_SUMMARY
          printf '\n%b\n' "\`\`\`" >> $GITHUB_STEP_SUMMARY

      - name: Run debian
        if: matrix.container_image == 'debian:latest' || matrix.container_image == 'ubuntu:latest'
        run: |
          printf '\n%b\n' "\`\`\`bash" >> $GITHUB_STEP_SUMMARY
          docker exec ${container_name} apt-get update | tee -a $GITHUB_STEP_SUMMARY
          docker exec ${container_name} apt-get install -y gh | tee -a $GITHUB_STEP_SUMMARY
          printf '\n%b\n' "\`\`\`" >> $GITHUB_STEP_SUMMARY

      - name: Run gh-cli
        run: |
          printf '\n%b\n' "\`\`\`bash" >> $GITHUB_STEP_SUMMARY
          docker exec ${container_name} gh --version | tee -a $GITHUB_STEP_SUMMARY
          printf '\n%b\n' "\`\`\`" >> $GITHUB_STEP_SUMMARY
