name: "02 docker"

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm32v6, arm32v7, arm64v8, i386, riscv64, s390x]
        container_image: [
          "ubuntu:latest",
          "debian:latest",
          "alpine:latest"
        ]
        include:
          - arch: amd64
            platform: linux/amd64
          - arch: arm32v6
            platform: linux/arm/v6
          - arch: arm32v7
            platform: linux/arm/v7
          - arch: arm64v8
            platform: linux/arm64
          - arch: i386
            platform: linux/i386
          - arch: riscv64
            platform: linux/riscv64
          - arch: s390x
            platform: linux/s390x
        exclude:
          - platform: "mips64le"
            container_image: "alpine:latest"

    env:
        container_name: "build"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3


      - name: Create docker ${{ env.container_name }} ${{ matrix.container_image }} ${{ matrix.platform }} container
        run: >
          docker run --name ${container_name} -it -d
          -w /root
          -v ${{ github.workspace }}:/root
          --platform linux/${{ matrix.platform }}
          ${{ matrix.arch }}/${{ matrix.container_image }}


      - name: Run apk update
        if: matrix.container_image == 'alpine:latest'
        run: docker exec ${container_name} apk add bash

      - name: Run apk update
        if: matrix.container_image == 'debian:latest' || matrix.container_image == 'ubuntu:latest'
        run: docker exec ${container_name} bash -c 'apt-get update && apt-get install -y wget'

      - run: docker exec ${container_name} bash -c 'ls /lib/*'


      - run: docker exec ${container_name} arch

      - run: |
          chmod +x qi.bash
          docker exec ${container_name} bash qi.bash

